<!-- Photo grid -->
<div class="w3-row w3-grayscale-min">
    <div class="w3-quarter">
      <img alt="Photo by freestocks.org from Pexels" src="/assets/images/build1.jpg" style="width:100%" onclick="onClick(this)">
      <img alt="Photo by freestocks.org from Pexels" src="/assets/images/build2.jpg" style="width:100%" onclick="onClick(this)">
      <img alt="Photo by freestocks.org from Pexels" src="/assets/images/build3.jpg" style="width:100%" onclick="onClick(this)">
   </div>
    
   <div class="w3-quarter">
      <img alt="Photo by freestocks.org from Pexels" src="/assets/images/build4.jpg" style="width:100%" onclick="onClick(this)">
      <img alt="Photo by freestocks.org from Pexels" src="/assets/images/build5.jpg" style="width:100%" onclick="onClick(this)">
      <img alt="Photo by freestocks.org from Pexels" src="/assets/images/build6.jpg" style="width:100%" onclick="onClick(this)">
    </div>
    
    <div class="w3-quarter">
      <img alt="Photo by freestocks.org from Pexels" src="/assets/images/build7.jpg" style="width:100%" onclick="onClick(this)">
      <img alt="Photo by freestocks.org from Pexels" src="/assets/images/build8.jpg" style="width:100%" onclick="onClick(this)">
      <img alt="Photo by freestocks.org from Pexels" src="/assets/images/build9.jpg" style="width:100%" onclick="onClick(this)">
    </div>

    <div class="w3-quarter">
      <img alt="Photo by freestocks.org from Pexels" src="/assets/images/build10.jpg" style="width:100%" onclick="onClick(this)">
      <img alt="Photo by freestocks.org from Pexels" src="/assets/images/build11.jpg" style="width:100%" onclick="onClick(this)">
      <img alt="Photo by freestocks.org from Pexels" src="/assets/images/build12.jpg" style="width:100%" onclick="onClick(this)">
    </div>
  </div>
  
  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>